@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
html, body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    color: #4F4F4F !important;
    font-weight: bold;
    text-transform: uppercase;
}
.yellow-bg{
    background-color: #F2C94C !important;
}
.grey-bg{
    background-color: #4F4F4F !important;
}
.yellow-color{
    color: #F2C94C !important;
}
.grey-color{
    color: #4F4F4F !important;
}
.getoffer-btn{
    border: 0;
    width: 160px;
    height: 30px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
}
.font-reduction{
    font-size: .7em !important;
}
/*Header*/
#head-title-left{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}
#head-title-right{
    opacity: .5;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;


}
#head-img{
    width: 50px;
    height: 50px;
}
#menu-bars{
    width: 30px;
    height: 30px;
}
/*Menü*/
#menu{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    background: #4F4F4F;
}
.menu-icons{
    width: 18px;
    height: 18px;
}
.menu-font-resize{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    text-transform: lowercase;
}
/*Offer*/
.offer-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.offer-img{
    
    flex-shrink: 0;
    width: 120%;
    height: 100%;
}
/*Services*/
.services-line{
    height: 10px;
}
.services-icon{
    width: 80px;
    height: 80px;
}
.services-font-resize{
    font-size: .7em;
}
/*Chose*/
.chose-bg{
    background-image: url("../Images/ChoseBackground.png");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.grey-layer{
    background-color: rgba(79, 79, 79, .5);
    width: 100%;
}
